.top-hashtags{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}
.top-hashtags>div{
    padding: 0px 5px;
    display: flex;
    flex-direction: row-reverse;
}
.top-hashtags>div>*{
    padding: 0px 5px;
;
}