.pageHeader{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index : 10;
    width: 100%;
    height: 53px;
    border :1px solid rgb(235, 228, 240);
    background-color: white;

}
.pageHeader .homeHeader{
    
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    width:100%;
    margin-right: 10px;
    margin-left: 10px;

}
.pageHeader .homeHeader>h2{
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}