.Signup Button {
    padding: 0;
    width: 485px;
    height: 50px;
    color: white;
    font-weight: bold;
    font-size: medium;
    background-color: rgb(28, 164, 252);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50px;
    border: none;
    outline: none;
}

.Signup img {
    margin-top: 30px;
}

.Signup button:disabled {
    background-color: rgb(148, 212, 252);
}

.Signup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Signup form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Signup .input {
    border-radius: 5px;
    padding: 10px;
    font-size: medium;
    margin-top: 7px;
    width: 470px;
    height: 50px;
}

.Signup .space {
    border-radius: 5px;
    font-size: medium;
    width: 471px;
    height: 50px;
    margin-bottom: 0;
    margin-right: 6px;
}

.Signup span {
    margin: 7px;
}

.Signup .err{
    color: #e52f61;
    width: 470px;
    text-align: left;
}
@media screen and (max-width: 1366px) {
    .Signup .input {
        width:100%;
        max-width: 485px;

    }
    .Signup label {
        width:90vw;
        max-width: 485px;

    }
    .Signup Button {
        width: 90vw;
        max-width: 485px;
    }
    .Signup .space {
        max-width: 485px;
        width: 90vw;
    }

  }