.profile-header{
    width: 598px;
    margin: 0 auto;
    padding: 5px;
    border : 1px solid rgb(235, 228, 240);
    border-top : 0px solid rgb(235, 228, 240);
}
.profile-header .cover img{
    width: 100%;
    margin: 10px auto;
    max-height: 199.33px;
    object-fit: cover ;


}
.profile-header .avatar{
    position:absolute;
    top:190px;
    margin: 0px 15px;
    border: 3px white;
}
.profile-header .details{
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.profile-header .actionBar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 70px;
}
.profile-header .followBtn{
    width: 90px;
}
.profile-header .followBtn > button{
    border-color: #53a5e4;
    color: #53a5e4;
    font-weight: bolder;

}
.profile-header .biography{
    display: flex;
    flex-direction: column;
}
.profile-header .biography>*{
    width: 100%;
    text-align: left;
}
.profile-header .biography> .name{
    font-size: 19px;
    font-weight: 800;
}
.profile-header .biography> .userName{
    color: #5b7083;
    font-size: 15px;
    font-weight: 400;
}
.profile-header .biography> .bio{
    font-size: 15px;
    font-weight: 400;
}


.profile-header .log{
    background-color: white;
    color: rgb(28, 164, 252);
    width: 50%;
    height: 50px;
    border-radius: 50px;
    border-color: rgb(28, 164, 252) ;;
    font-weight: bold;
    font-size: 15px;
    justify-items: center;
    margin: 5px;
}

.profile-headerr .sign{
    background-color: rgb(28, 164, 252);
    outline:rgb(28, 164, 252) ;
    color: white;
    width: 50%;
    height: 50px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 15px;
    justify-items: center;
    margin: 5px;
}

.profile-header .log:hover{
    background-color:#daeefc;
    transition: 0.4s;
}

.profile-header .sign:hover{
    background-color:rgb(25, 139, 216);
    transition: 0.4s;
}
.profile-header .popLogin{
    background-color: black !important;
}

.profile-header .unfollow{
    background-color: #ca2055;
    color: white;
    font-weight: bold;
    border: none;
    border: none;
}

.profile-header .follow{
    color: rgb(28, 164, 252);
    font-weight: bold;
}

.profile-header .follow:hover{
background-color:#f1f9ff;
}