.profile{
    display: flex;
    flex-direction: row;
}
.profile .left-col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    z-index : 10;
    margin: 10px;
    height: 90vh;
}