 .Navbar .image{
    margin: 20px;
    justify-items: center;
}
.Navbar .button{
    margin: 10px;
    /* justify-items: center; */
}
div .Navbar{
    width: 384px;
    justify-items: center;
}
.Navbar .b{
    height: 35px;
    width: 130px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 19px;
    border: none;
    justify-items: center;
    
}

.Navbar .b:hover{
    background-color:#daeefc;
    transition: 0.4s;
}
.Navbar .tweet{
    height: 35px;
    width: 130px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 15px;
    color: white;
    border: none;
    justify-items: center;
    background-color: rgb(28, 164, 252);
}

.Navbar .tweet:hover{
    background-color:rgb(25, 139, 216);
    transition: 0.4s;
}