.Navbar .image{
    margin-top: 100px;
    margin-left: 60px;
}
.Navbar .a{
    margin-left: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.Navbar .flex{
    display: flex;
    flex-direction: column;
}