.Login Button {
    padding: 0;
    width: 485px;
    height: 50px;
    color: white;
    font-weight: bold;
    font-size: medium;
    background-color: rgb(28, 164, 252);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50px;
    border: none;
}

.Login img {
    margin-top: 30px;
}

.Login button:disabled {
    background-color: rgb(148, 212, 252);
}

.Login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Login form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Login .input {
    border-radius: 5px;
    padding: 10px;
    font-size: medium;
    margin-top: 7px;
    margin-bottom: 5px;
    width: 470px;
    height: 50px;
}

.Login .space {
    border-radius: 5px;
    font-size: medium;
    width: 471px;
    height: 50px;
    margin-bottom: 0;
    margin-right: 6px;
}

.Login span {
    margin: 7px;
}

.Login .err{
    color: #e52f61;
    width: 470px;
    text-align: left;
}
